{% extends "base.html" %} {% block content %}
<div class="flex h-screen justify-center items-center flex-col">
  <div>
    <ul
      class="flex p-1 gap-1 mb-4 justify-between bg-stone-800 rounded-lg max-w-xs"
    >
      <a
        id="login-tab"
        class="text-center py-1 px-2 rounded-md bg-primary w-1/2"
        >Login</a
      >
      <a
        id="signup-tab"
        class="text-center py-1 px-2 rounded-md w-1/2 hover:bg-stone-700"
        >Signup</a
      >
    </ul>

    <div class="rounded-xl p-4 max-w-xs bg-stone-800">
      <form
        id="login"
        class="tab-content"
        action="{% url 'signin' %}"
        method="post"
      >
        {% csrf_token %}
        <div class="mb-4">
          <input
            class="bg-stone-900 px-2 focus:outline-none focus:border-primary border rounded-md py-1 w-full"
            placeholder="Username"
            type="text"
            name="username"
            id="username"
          />
        </div>
        <div class="mb-4">
          <input
            class="bg-stone-900 focus:outline-none focus:border-primary border px-2 rounded-md py-1 w-full"
            placeholder="Password"
            type="password"
            name="password"
            id="password"
          />
        </div>
        <div>
          <input
            type="submit"
            class="w-full bg-primary cursor-pointer rounded-md py-1 px-2"
            value="Enter"
          />
        </div>
      </form>

      <form
        id="signup"
        class="tab-content hidden"
        action="{% url 'signup' %}"
        method="post"
      >
        {% csrf_token %}
        <div class="mb-4">
          <input
            class="bg-stone-900 focus:outline-none focus:border-primary border px-2 rounded-md py-1 w-full"
            placeholder="Username"
            type="text"
            name="username"
            id="username"
          />
        </div>
        <div class="mb-4">
          <input
            class="bg-stone-900 focus:outline-none focus:border-primary border px-2 rounded-md py-1 w-full"
            placeholder="Email"
            type="email"
            name="email"
            id="signup"
          />
        </div>
        <div class="mb-4">
          <input
            class="bg-stone-900 focus:outline-none focus:border-primary border px-2 rounded-md py-1 w-full"
            placeholder="Password"
            type="password"
            name="password"
          />
        </div>
        <div>
          <input
            type="submit"
            class="w-full bg-primary rounded-md py-1 px-2"
            value="Signup"
          />
        </div>
      </form>

      {% if messages %}
      <ul class="pt-3">
        {% for message in messages %}
        <li class="text-red-600">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

<script>
  const loginTab = document.getElementById("login-tab");
  const signupTab = document.getElementById("signup-tab");
  const loginForm = document.getElementById("login");
  const signupForm = document.getElementById("signup");

  loginTab.addEventListener("click", (e) => {
    e.preventDefault();
    loginTab.classList.add("bg-primary");
    signupTab.classList.remove("bg-primary");
    signupTab.classList.add("hover:bg-stone-700");
    loginTab.classList.remove("hover:bg-stone-700");
    loginForm.style.display = "block";
    signupForm.style.display = "none";
  });

  signupTab.addEventListener("click", (e) => {
    e.preventDefault();
    signupTab.classList.add("bg-primary");
    loginTab.classList.remove("bg-primary");
    loginTab.classList.add("hover:bg-stone-700");
    signupTab.classList.remove("hover:bg-stone-700");
    signupForm.style.display = "block";
    loginForm.style.display = "none";
  });
</script>

{% endblock %}
