{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.svgrepo.com/show/353657/django-icon.svg"
    />
    <title>{% block title %}djangobio{% endblock %}</title>
    {% include "head/css.html"%}
  </head>
  <body class="bg-stone-950 text-white">
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
