<form method="POST" id="misc-form" onsubmit="submitForm(event,'miscSubmit','/@api/update/misc')">
  {% csrf_token %}
  <button
    id="miscSubmit"
    class="mb-4 w-full bg-primary hover:bg-secondary  font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="submit"
  >
    Update
  </button>
  <div class="grid gap-4">
    <label class="flex items-top">
      <input
        {%if user.showViewCount%}
        checked
        {%endif%}
        name="show_views"
        class="h-5 w-5 mr-5 inline-block"
        type="checkbox"
      />
      <span class="text-sm inline-block"> show Views </span>
    </label>
    <label class="flex items-top">
      <input
        {%if user.showCard%}
        checked
        {%endif%}
        name="show_card"
        class="h-5 w-5 mr-5 inline-block"
        type="checkbox"
      />
      <span class="text-sm inline-block"> show Card </span>
    </label>
    <label class="flex items-top">
      <input
        {%if user.showSnowFlakes %}
        checked
        {%endif%}
        name="show_snowflakes"
        class="h-5 w-5 mr-5 inline-block"
        type="checkbox"
      />
      <span class="text-sm inline-block"> snowflakes </span>
    </label>
    <div class="font-bold">CUSTOM LINKS</div> 
    <div>coming soon.. (NEVER)</div>
  </div>
</form>
